<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tao moi Tinh</title>
</head>
<body>
<h1 style="color: gold" th:text="${message}"></h1>
<form th:object="${city}" th:action="@{/editcity}" method="post" >
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Ten thanh pho: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quoc gia:</td>
            <td>
                <select name="country">
                    <option th:each="c : ${countries}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="(${c.id} == *{country.id})"></option>
                </select>
<!--                <select th:field="*{country}">-->
<!--                    <option th:each="p : ${countries}" th:value="${p.id}" th:text="${p.name}"></option>-->
<!--                </select>-->
            </td>
        </tr>
        <tr>
            <td>Dien tich: </td>
            <td><input type="text" th:field="*{area}"></td>
        </tr>
        <tr>
            <td>Dan so: </td>
            <td><input type="text" th:field="*{population}"></td>
        </tr>
        <tr>
            <td>GDP: </td>
            <td><input type="text" th:field="*{gdp}"></td>
        </tr>
        <tr>
            <td>Gioi thieu: </td>
            <td><textarea th:field="*{description}" cols="20" rows="7"></textarea></td>
        </tr>
        <tr>
            <td><button type="submit">Luu</button> </td>
            <td><button type="button"><a th:href="@{/home}">Thoat</a></button></td>
        </tr>
    </table>
</form>
</body>
</html>