<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>List Cities</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Thanh pho</th>
            <th>Quoc Gia</th>
            <th>Hoat dong</th>
        </tr>
        </thead>
       <tr th:each="c,rowstart:${cities}">
           <td th:text="${rowstart.count}"></td>
           <td><a th:href="@{/viewcity/__${c.id}__}" th:text="${c.name}"></a></td>
           <td th:text="${c.country.name}"></td>
           <td>
               <a th:href="@{/removecity/__${c.id}__}">Xoa</a>
               <a th:href="@{/editcity/__${c.id}__}">Chinh sua</a>
           </td>
       </tr>

    </table>
</div>

</body>
</html>
